# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# User uploaded media
/media/

# Collected static (production)
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
